= content_for :javascripts do
  = javascript_include_tag "projects/index.js"

.projects_index
  .title
    %h1 My Projects
  .create_project
    =link_to "Create project", new_c3dweb_project_path, class: "btn btn-primary btn-lg new_project"

.container-fluid.publication_index.pagination-centered
  .row
    .span6.projects
