$(document).ready(function(){
  initProjects();
});

function initProjects() {

  $.ajax({
    url: "http://www.mymultimediaworld.com:8088/projects/",
    datatype: 'json',
    contentType: "application/json",
    beforeSend : C3dc.before_send,
    error : function($data) {console.log("error init_header"+JSON.stringify($data))},
    success: function($data) {success($data.results);}
  });

  var success = function ($data) {
    var html_publications = "";
    var length = $data.length;
    var path_thumb = "<%= image_path('thumb.jpg')%>"
    for (i = 0;i < length; ++i) {
        html_publications += '<div class="col-centered" id="'+$data[i].id+'"><div class="box-pub">';

        html_publications += '<a href="/c3dweb/projects/'+$data[i].id+'">';
        if ($data[i].picture_set && $data[i].picture_set[0])
          html_publications += '<img src="'+path_thumb+'" class="thumb_project" height="190px" width="180px" />';
          //html_publications += '<img alt="cloud" class="cloud2" src="http://'+$data[i].picture_set[0].path+'" height="190px" width="180px" />'
        else
          html_publications += '<img src="'+path_thumb+'" class="thumb_project" height="190px" width="180px" />';
          //html_publications += '<img alt="cloud" class="cloud2" src="http://157.159.160.112:8080/images/c51e213ea2" height="auto" width="100%" />'

        html_publications += '<div class="ellipsis name">'+$data[i].name+'</div></a>';
        html_publications += '<a onclick="delete_project('+$data[i].id+')" class="delete-project"><span class="glyphicon glyphicon-trash"/></a>';
        html_publications += '</div></div>';
    }
    $('.span6.projects').append(html_publications);
  }
}

function delete_project(id) {

  $.ajax({
    url: "http://www.mymultimediaworld.com:8088/projects/"+id,
    type: "DELETE",
    contentType: "application/json",
    beforeSend : C3dc.before_send,
    error : function($data) {
      console.log("error initDeleteProjects"+JSON.stringify($data))
    },
    success: function($data) {
      "success initDeleteProjects"
      $('.projects #'+id).remove();
    }
  });

}
